{% extends 'base.html.twig' %}

{% block title %}Hello ProgressController!
{% endblock %}

{% block body %}
	<div
		id="progressText">
	</div>

  	<div
		id="progressPlace">
	</div>
	<audio id="audio1" src="{{ asset(explanation[0].audio.link ~ '.mp3') }}" autoplay loop></audio>
	<audio id="audio2" src="{{ asset(explanation[1].audio.link ~ '.mp3') }}" loop></audio>

	<script id="answer" type="application/json">
		{{ answer_json }}
	</script>

	<script id="explanation" type="application/json">
		{{ explanation_json }}
	</script>

	<script id="name" type="application/json">
		{{ name_json }}
	</script>

	<script id="question" type="application/json">
		{{ question_json }}
	</script>
{% endblock %}
